nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: transparent;
        border: none;
        border: 2px solid rgb(69, 69, 69);
        transition: all 0.3s ease;
        padding: 0.5rem;
        cursor: pointer;
        color: aquamarine;

        &:hover{
            background: rgb(69, 69, 69);
            color: white;
        }
    }
    .xyz{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    nav {
      button {
        z-index: 10;
      }
    }
  }