* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.d{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
body{
  font-family: 'Andika New Basic', sans-serif;
  height: 100%
  
}
h3,h4{
  font-weight: 400;
  color: rgb(100, 100, 100)
}
.spinner{
  height: 3rem;
  padding:10px;
  min-width: 4vw;
  align-content: center;
  position: relative;
  left: 46%;
  margin:25px
  
}
.App {
  transition: all 0.5s ease;

}
.library-active {
  margin-left: 16%;
  
}
.darkMode{
  background-color: black;
  color: #2be09e;
  
}


@import "./_song.scss";
@import "./_player.scss";
@import "./_library.scss";
@import "./_nav.scss";


