* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.d:hover{
    transform: scale(1.2);
    transition: ease-in delay 2s;
}
@import "./_song.scss";
@import "./_player.scss";
